!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title Sogil.is
    %link{rel:"stylesheet", href:stylesheet_path("application")}
    /[if lt IE 9]
      %script{src:javascript_path("html5shiv/dist/html5shiv")}
  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li
            %a{:href => "/"} Add a link
          %li
            %a{:href => "/list"} List of links
        %h3.text-muted Sogil.is
      =yield
      .footer
        %p
          Made with <3 by
          %a{:href => "http://sogilis.com"} Sogilis
    %script{src:javascript_path("application")}
