.row
  .col-sm-offset-2.col-sm-8
    %form.form{:method => 'POST', :role => 'form'}
      .form-group
        %label{:for => 'username'} Username:
        %input.form-control{:type => 'text', :name => 'username', :placeholder => 'Username', :required => 'required'}
      .form-group
        %label{:for => 'password'} Password:
        %input.form-control{:type => 'password', :name => 'password', :placeholder => 'Password', :required => 'required'}
      %button.btn.btn-default{:type => 'submit'} Save
